.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 576px) {
  .heading {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1.25rem;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }
}

/* For screens between 576px and 768px (small devices) */
@media (min-width: 576px) and (max-width: 768px) {
  .heading {
    font-size: 2.25rem;
  }
  .paragraph {
    font-size: 1.5rem;
  }
  .profile-pic {
    width: 125px;
    height: 125px;
  }
}

/* For screens between 768px and 992px (medium devices) */
@media (min-width: 768px) and (max-width: 992px) {
  .heading {
    font-size: 2.5rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
}

/* For screens larger than 992px (large devices) */
@media (min-width: 992px) {
  .heading {
    font-size: 2.5rem;
  }
  .paragraph {
    font-size: 1.5rem;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
}


.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}
.headingSmall {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin: 0 auto; /* add this line */
  text-align: center;
  padding-bottom: 30px;
}


.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.list li:not(:last-child) {
  margin-right: 1rem;
}

.list a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.list a:hover {
  color: #0070f3;
}

.list svg {
  margin-right: 0.5rem;
  font-size: 1.75rem;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.image {
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid #333;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.list a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.link  {
  color: #4f0000;
  text-decoration: none;
}

.link:hover {
  color: #565656;
  text-decoration: underline;}


/* font */
@font-face {
  font-family: 'Raleway';
  src: url('/public/fonts/Raleway/static/Raleway-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: 'Raleway', sans-serif;
}